/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Base Styles */
@font-face {
  font-family: "Outfit";
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Outfit-Regular-subset.woff2") format("woff2"),
    url("./fonts/Outfit-Regular-subset.woff") format("woff");
}

@font-face {
  font-family: "Outfit";
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Outfit-Bold-subset.woff2") format("woff2"),
    url("./fonts/Outfit-Bold-subset.woff") format("woff");
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 0.9375rem;
  color: hsl(220, 15%, 55%);
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
  padding: 16px;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.card-qr-code {
  background-color: hsl(0, 0%, 100%);
  max-width: 20rem;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
}

.card-qr-code img {
  aspect-ratio: 1;
  border-radius: 10px;
}

.card-qr-code h2 {
  font-size: 1.375;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin: 1.5rem 1rem 0;
}

.card-qr-code p {
  margin: 1rem;
}

/* Footer */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


